# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/
*.xcuserdatad
*.moved-aside
*.pbxuser
*.perspectivev3
xcdebugger/
.idea/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
/.build/
/Packages

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
